/* 
    Document   : main
    Created on : Aug 16, 2010, 1:37:12 PM
    Author     : guax
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html, body {
    height: 100%;
}

pre {
    max-width: 975px;
    overflow: auto;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -34px;
}

#footer, .push {
    height: 32px;
}

#footer {
    padding: 0px;
    clear: both;

    margin-top: 0px;
    border-top: 2px solid #F0C600;

    background-image: url('../imagens/footer_bg.png');
    color: #696969;

    line-height: 2em;

    font-weight: bold;
    font-size: 10px;

    height: 32px;
}

#footer p {
    margin: 0px;
    padding: 6px;
}

#footer_vendor {
    float:left;
}

#footer_version {
    float:right;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    background-image: url('../imagens/header_bg.png');
    background-repeat: repeat-x;
    background-position: top;
}

#header, #menus, #breadcrumb, #content, #footer_content {
    margin-left: auto;
    margin-right: auto;
    width: 975px;
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 52px;
    padding-top: 20px;
    padding-left: 20px;
    background-image: url('../imagens/vendor_logo.png');
    background-repeat: no-repeat;
    background-position: 98% center;
}

#header img {
    border:none;
}

.fullbreadcrumb {
    margin-top: 30px;
}

#breadcrumb{
    width: 955px;
    color: #808080;
    font-size: 14px;
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

#breadcrumb strong {
    color: #333333;
}

#content {
    border: 1px solid #a4a7ab;
    font-size: 12px;
    display: table;
    height: auto;
    padding: 10px 0px 0px 0px;
    margin-bottom: 30px;
}

#login_form {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display:table;
}

#login_form dt {
    font-weight: bold;
}

input[type=text], input[type=password] {
    font-size: 11px;
    background-color: #fbfbfb;
    border: 1px solid #a4a7ab;
}

.dashboard {
    width: 100%;
    display:block;
    min-height: 400px;
}
.dash_box {
    padding: 4px 10px;
    border-bottom: 2px solid #d2d2d2;
    border-left: 2px solid #d2d2d2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #f1f1f1;
    min-height: 200px;
    width:445px;
    margin: 5px;
    padding: 8px;
    float:left;
}


button {
    border: 1px solid #C49C00;
    _display: table-cell;
    padding: 4px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    background: url("../imagens/button_important.png");
    background-position: top;
    background-repeat: repeat-x;
    background-color: #fff;
}

input[type=submit] {
    border: 1px solid #C49C00;
    _display: table-cell;
    padding: 4px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    background: url("../imagens/button_important.png");
    background-position: top;
    background-repeat: repeat-x;
    background-color: #fff;

}

input[type=submit]:active {
    background: url("../imagens/button_important_clicked.png");
    background-position: top;
    background-repeat: repeat-x;
    background-color: #fff;
}

button:active {
    background: url("../imagens/button_important_clicked.png");
    background-position: top;
    background-repeat: repeat-x;
    background-color: #fff;
}

button:disabled {
    border-color: #ccc;
    color: #ccc;
    cursor: default;
}

button:disabled:hover {
    color: #ccc;
}

button:hover {
 /*   color: #FDB712; */
}

/* Formulários */
.form_element {
    text-align: left;
    padding-top: 5px;
    height: auto;
    clear: both;
}

form fieldset {
    padding: 15px 0px 10px 0px;
    margin: 0px 5px;    
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #E8A916;
}

form legend {
    font-size: 14px;
    font-weight: bold;
    color: #E8A916;
    
}

form dt {
/*    display: table-cell;*/
    _text-align: right;
    margin-top: 0px;
    padding-right: 5px;
    padding-top: 2px;
    min-width: 200px;
    vertical-align: top;
    float: left;
}

form dd {
    display: block;
    margin-left: 0px;
    _text-align: right;
    float: left;
}

form .hint {
    display: inline-block;
    font-size: 10px;
    max-width: 600px;
    vertical-align: top;
    padding: 0 2px;
    margin: 0px;
    color: #696969
}

form .errors {
    padding-left: 5px;
    margin: 5px 0px;
}

form .errors li {
    list-style: none;
    background-image: url("../imagens/error_16.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding: 5px 20px;
}

form .errors, .error {
    color: #ff0000;
}

input[type="text"],
input[type="password"],
select
{
    border: 1px solid #A4A7AB;
    line-height: 1.5em;
    padding: 1px;
    background: #fff url("../imagens/bg_input.png") repeat-x top left;
}

.failure {
    border: 1px solid red;
    background-color: #FFB2B2;
    padding: 4px;
    display: block;
}
/* FIM Configuração dos formulários feitos com listas de definição */

.installer_buttons {
    text-align: right;
}

.installer_buttons button {
    font-size: 12px;
    padding: 10px;
}

.rightmenu {
    float: right;
    margin-right: 0px !important;
}

.rightmenu a {
    border: none !important;
}

/* Root = Horizontal, Secondary = Vertical */
.navmenu {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
    height: 32px;
    
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    position: relative;
    z-index: 1000;
    margin-right: 100px;
}

.navmenu li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.navmenu ul {
  border: 0 none;
  padding: 0;
  width: 190px;
  list-style: none;
  display: none;
  position: absolute;
  height: 32px;
}

.navmenu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

.navmenu ul li {
  width: 160px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

.navmenu li:first-child a {
    border-left: none;
}

.navmenu li:first-child a:hover {
    border-left: none;
}

.navmenu li:last-child a {
    border-right: none;
}

.navmenu a {
  border-right: 1px solid #CCC;
  border-left: 1px solid #FFF;
  padding: 0 20px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  /*background: #EEE;*/
  color: #666;
  text-decoration: none;
  height: 1%; /*For IE*/
  height: 32px;
  line-height: 32px;
}

/* Root Menu Hover Persistence */
.navmenu a:hover,
.navmenu li:hover a,
.navmenu li.iehover a {
  background: #CCC;
  border-left: 1px solid #CCC;
  color: #FFF;
  z-index: 2;
}


/* 2nd Menu */
.navmenu li:hover li a,
.navmenu li.iehover li a {
  float: none;
  background: #EEE;
  color: #666;
  border: 1px solid #FFF;
  border-left: 1px solid #ccc;
  z-index: 2;
}

/* 2nd Menu Hover Persistence */
.navmenu li:hover li a:hover,
.navmenu li:hover li:hover a,
.navmenu li.iehover li a:hover,
.navmenu li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;

}

/* 3rd Menu */
.navmenu li:hover li:hover li a,
.navmenu li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 3rd Menu Hover Persistence */
.navmenu li:hover li:hover li a:hover,
.navmenu li:hover li:hover li:hover a,
.navmenu li.iehover li.iehover li a:hover,
.navmenu li.iehover li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 4th Menu */
.navmenu li:hover li:hover li:hover li a,
.navmenu li.iehover li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 4th Menu Hover */
.navmenu li:hover li:hover li:hover li a:hover,
.navmenu li.iehover li.iehover li.iehover li a:hover {
  background: #CCC;
  color: #FFF;
}

.navmenu ul ul,
.navmenu ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
.navmenu li:hover ul ul,
.navmenu li:hover ul ul ul,
.navmenu li.iehover ul ul,
.navmenu li.iehover ul ul ul {
  display: none;
}

.navmenu li:hover ul,
.navmenu ul li:hover ul,
.navmenu ul ul li:hover ul,
.navmenu li.iehover ul,
.navmenu ul li.iehover ul,
.navmenu ul ul li.iehover ul {
  display: block;
}

#content .error_box {
    padding: 10px 10px 10px 45px;
    background-color: #F46770;
    background-image: url("../imagens/error_16.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    font-weight: bolder;
}

.inspect ul{
    margin:0px;
    padding:0px;
}
.inspect li {
    list-style:none;
}
#content .list_error {
    padding: 5px 3px 5px 25px;
    background: #F46770 url("../imagens/false.png") no-repeat scroll 5px center;
    font-weight: bolder;
}

#content .list_no_error {
    padding: 5px 3px 5px 25px;
    background: #8BE98A url("../imagens/true.png") no-repeat scroll 5px center;
    font-weight: bolder;
}

#content thead {
    background-color: #FFE400;
}
#content thead td {
    padding: 5px 2px;
    font-weight: bolder;
    font-size: 11px;
}

#content img {
    border:0px;
}

#content tbody td {
    padding: 6px 10px;
}

#content .c0 {
    background-color: #eeeeee;
    padding: 2px;
}
#content .c1 {
    background-color: #fff;
    padding: 12px;
}

#content .pagination {
    background-color: #fdfdfd;
    padding: 2px 4px 0px 4px;
    margin-bottom: 3px;
    margin-top: 10px;
    height:25px;
}

#paginationControl {
    font-size: 14px;    
    font-weight: bolder;
    height: 40px;
    color: #696969;
    text-align: right;
}
#paginationControl a{
    color: #696969;
    text-decoration: none;
}
#paginationControl a:hover{
    text-decoration: underline;
    color: #000;
}
#paginationControl .atual {
    font-size: 14px;
    color: #FFD10D;
}
#paginationControl .disabled {
    color: #d2d2d2;
}
.mt3 {
    margin-top: 3px;
}
.action {
    text-align: left;
    width:70px;
}
.toogle {
    text-align: left;
    width:110px;
}
.alterar {
    padding-left:20px;
    background: url("../imagens/edit.png") no-repeat center left;
    color: #696969;    
    font-size: 10px;
    text-decoration:none;
}
.alterar:hover {
    text-decoration:underline;
    color:#000;
}
.excluir {
    padding-left:20px;
    background: url("../imagens/delete.png") no-repeat center left;
    cursor:pointer;
    font-size: 10px;
    color: #696969; 
    text-decoration: none;
}
.excluir:hover {
    text-decoration:underline;
    color:#000;
}
.membros {
    padding-left:20px;
    background: url("../imagens/usuario.png") no-repeat center left;
    cursor:pointer;
    font-size: 10px;
    text-decoration: none;
    color: #696969;
}
.membros:hover {
    text-decoration:underline;
    color:#000;
}
.arquivo {
    padding-left:20px;
    background: url("../imagens/listsounds.png") no-repeat center left;
    cursor:pointer;
    font-size: 10px;
    color: #696969;
    text-decoration: none;
}
.arquivo:hover {
    text-decoration:underline;
    color:#000;
}
.backup {
    padding-left:20px;
    background: url("../imagens/refresh.png") no-repeat center left;
    cursor:pointer;
    font-size: 10px;
    color: #696969;
    text-decoration: none;
}
.backup:hover {
    text-decoration:underline;
    color:#000;
}
.zend_form  dd {
    vertical-align: text-top;
    padding-left: 4px;
    display: table-cell;
}
.zend_form  dt {
    vertical-align: text-top;
    font-size: 12px;
}
.regra0 {
    width: 36px;
    height: 19px;
    margin: 0px;
    display: block;
    background: url("../imagens/ativar.gif") no-repeat left top;
}
.regra1 {
    width: 36px;
    height: 19px;
    margin: 0px;
    display: block;
    background: url("../imagens/desativar.gif") no-repeat left top;
}
#campo {
   color:  #000000 ;
   background-color: #fbfbfb ;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   border-style: solid;
   border-top-width: 1px;
   border-right-width: 1px;
   border-bottom-width: 1px;
   border-left-width: 1px;
   border-color: #a4a7ab ;
}
.button_bar {
    text-align: center;
    display:block;
    padding: 10px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.zend_form .menus {
    text-align:center;
    clear: both;
    border-top: 1px solid #d2d2d2;    
    padding: 5px 0 0 0;
}

.boxadd { border: 0px;width: 20px;background: url("../imagens/dot_add.png") no-repeat left top;}

.boxremove { border:0px;width:20px; background: url("../imagens/dot_remove.png") no-repeat left top;}

.phone-list {
    margin-bottom: 8px;
}

.span_phone {
    display:block;
    width: 200px;
}

#phones li {
    clear:both;
    width: 350px;
    list-style-position: inside !important;
    list-style-type: decimal !important;
    background: url("../imagens/move.gif") no-repeat right top !important;
}

#phones {
    list-style-position:inside;
    list-style-type: decimal;
    margin:0;
    padding:5px;
}

.new_button {
    border: 1px solid #FDB712;
    padding: 4px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    color: #666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    background: url("../imagens/botao.png");
}
.ml5 {
    float:left;
    clear:both;
    margin-left: 20px;
}
.quadro {
    background-color: #f1f1f1;
    border: 1px solid #d2d2d2;
    width: 350px;
    min-height:70px;
}

.info_box {
    margin: 0px auto 10px auto;
    padding: 5px 5px 5px 24px;
    background-image: url(../imagens/ico_info.png);
    background-repeat: no-repeat;
    background-position: 2px 4px;
    background-color: #eeeeff;
    border: 1px solid #ccc;
}


/* ======================= Snep Forms (table based) ========================= */

.snep_form {
    padding-left: 10px;
    padding-right: 10px;
}

.snep_form_submit td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.snep_form_element td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.snep_form_section_title {
    color: #e8ab17;
    font-size: 11px;
    padding: 0px;
}

.snep_form_section_title:first-child h2 {
    margin-top: 10px;
}

.snep_form_section_title h2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0px;
}

.snep_form th, .snep_form td {
    border: none;
}

.snep_form th label:after {
    content: ':';
}

.snep_form input:disabled {
    border-color: #ccc;
    background-color: #efefef;
    background-image: none;
    color: #ccc;
    cursor: default;
}

.snep_form_cancel {
    color: #7d7d7d;
    margin-left: 10px;
}

.snep_form_element input[type='text'], .snep_form_element input[type='password'] {
    width: 265px;
}

.snep_form table {
    width: 100%;
    border-collapse: collapse;
}

.snep_form th {
    text-align: left;
    width: 265px;
    
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 5px;
    vertical-align: top;
    font-weight: normal;
    color: #000;
}

.snep_form_element {
    border-bottom: 1px solid #e1e1e1;
}

.snep_form .required:after {
    content: "*";
    color: #ff0000;
}

.snep_form td {
    padding-left: 5px;
}

.snep_form .errors {
    padding-left: 6px;
    margin: 5px 0px;
    color: #000;
    font-weight: bold;
}

.snep_form .errors li {
    list-style: none;
    padding: 6px 22px;
    background-image: url("../imagens/error_16.png");
    background-position: left center;
    background-repeat: no-repeat;
}

/* ========================================================================== */

/* Contraste para tela de logs do sistema */
.normal {
    color: #000; 
    background-color: #fff;
}

.terminal {
    color:#4eff00; 
    background-color: #000;
}

.contraste {
    color:#fff; 
    background-color: #000; 
    font-weight: bolder;
}
