/* 
    Document   : main
    Created on : Aug 16, 2010, 1:37:12 PM
    Author     : guax
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
    border-bottom: 2px solid #FFD10D;
    padding: 12px 10px 2px 10px;
    background-image: url('../imagens/vendor_logo.png');
    background-repeat: no-repeat;
    background-position: right center;
}

#breadcrumb {
    color: #808080;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
}

#content {
    border: 1px solid #a4a7ab;
    font-size: 12px;
    padding: 10px;
}

#content tbody tr:hover {
    background-color: #d2d2d2;
    border: 1px solid #000 !important;
    color: #000;
}

#footer {
    border-top: none;
    border-left: 1px solid #a4a7ab;
    border-right: 1px solid #a4a7ab;
    border-bottom:1px solid #a4a7ab;

    padding: 0px;
    height: 25px;
    clear: both;

    background-color: #EEE;
    background-image: url('../imagens/menu.png');
    color: #808080;

    font-weight: bold;
    font-size: 10px;
}

#footer p {
    margin: 0px;
    padding: 6px;
}

#footer_vendor {
    float:left;
}

#footer_version {
    float:right;
}

#login_form {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display:table;
}

#login_form dt {
    font-weight: bold;
}

input[type=text], input[type=password] {
    font-size: 11px;
    background-color: #fbfbfb;
    border: 1px solid #a4a7ab;
}

.dashboard {
    width: 100%;
    display:block;
    min-height: 400px;
}
.dash_box {
    padding: 4px 10px;
    border-bottom: 2px solid #d2d2d2;
    border-left: 2px solid #d2d2d2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #f1f1f1;
    min-height: 200px;
    width:445px;
    margin: 5px;
    padding: 8px;
    float:left;
}


button, input[type=submit] {
    border: 1px solid #FDB712;
    padding: 4px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    color: #666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    background: url("../imagens/botao.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #fff;
}

button:active, input[type=submit]:active {
    background: url("../imagens/button_clicked.png");
    background-position: top;
    background-repeat: repeat-x;
    background-color: #fff;
}

button:disabled, input[type=submit]:disabled {
    border-color: #ccc;
    color: #ccc;
    cursor: default;
}

button:disabled:hover, input[type=submit]:disabled:hover {
    color: #ccc;
}

button:hover, input[type=submit]:hover {
    color: #FDB712;
}

/* Formulários */
.form_element {
    display: table-row;
    height: 30px;
}

form fieldset {
    padding: 15px 0px 10px 0px;
    margin: 0px;
    
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #E8A916;
}

form legend {
    font-size: 14px;
    font-weight: bold;
    color: #E8A916;
    
}

form dt {
    display: table-cell;
    text-align: right;
    margin-top: 0px;
    padding-right: 5px;
    padding-top: 2px;
    min-width: 200px;
    vertical-align: top;
}

form label:after {
    content: ':';
}

form dd {
    display: table-cell;
    margin-left: 0px;
}

form .hint {
    display: inline-block;
    font-size: 10px;
    max-width: 600px;
    vertical-align: top;
    padding: 0 2px;
    margin: 0px;
    color: #696969
}

form .errors {
    padding-left: 5px;
    margin: 5px 0px;
}

form .errors li {
    list-style: none;
    background-image: url("../imagens/error_16.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding: 5px 20px;
}

form .errors, .error {
    color: #ff0000;
}
.zend_form input[type="text"], .zend_form input[type="password"] {
    border: 1px solid #A4A7AB;
    line-height: 1.5em;
    padding: 1px;
    background: #fff url("../imagens/bg_input.png") repeat-x top left;
}

.failure {
    border: 1px solid red;
    background-color: #FFB2B2;
    padding: 4px;
    display: block;
}
/* FIM Configuração dos formulários feitos com listas de definição */

.installer_buttons {
    text-align: right;
}

.installer_buttons button {
    font-size: 12px;
    padding: 10px;
}


/* Menu snep */
#menu {
   position: relative;
   text-align: left ;
   width: 978px ;
   height: 24px ;
   border: 1px solid #FFF;
   border-left: none;
   background-color: #EEE;
   background-image: url('../imagens/menu.png');
   z-index: 20 ; /*Mantem os Menus acima de outros objetos da Pagina */
}


/* Root = Horizontal, Secondary = Vertical */
ul#navmenu {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 100%; /*For KHTML */
  list-style: none;
  height: 24px;
}

ul#navmenu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: right; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 24px;
}

ul#navmenu ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 190px;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}

ul#navmenu ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#navmenu ul li {
  width: 160px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/

}

/* Root Menu */
ul#navmenu a {
  border-left: 1px solid #CCC;
  /*border-bottom-color: #CCC;*/
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  /*background: #EEE;*/
  color: #666;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/

}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
  background: #CCC;
  color: #FFF;
  z-index: 2;
}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
  float: none;
  background: #EEE;
  color: #666;
  border: 1px solid #FFF;
  border-left: 1px solid #ccc;
  z-index: 2;
}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;

}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
  background: #CCC;
  color: #FFF;
}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
  background: #EEE;
  color: #666;
}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
  background: #CCC;
  color: #FFF;
}

ul#navmenu ul ul,
ul#navmenu ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
  display: none;
}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
  display: block;
}

#content .error_box {
    padding: 10px 10px 10px 45px;
    background-color: #F46770;
    background-image: url("../imagens/error_16.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    font-weight: bolder;
}

.inspect ul{
    margin:0px;
    padding:0px;
}
.inspect li {
    list-style:none;
}
#content .list_error {
    padding: 5px 3px 5px 25px;
    background: #F46770 url("../imagens/false.png") no-repeat scroll 5px center;
    font-weight: bolder;
}

#content .list_no_error {
    padding: 5px 3px 5px 25px;
    background: #8BE98A url("../imagens/true.png") no-repeat scroll 5px center;
    font-weight: bolder;
}

#content thead {
    background-color: #FFE400;
}
#content thead td {
    padding: 5px 2px;
    font-weight: bolder;
    font-size: 11px;
}

#content img {
    border:0px;
}
#content tbody td {
    padding: 6px 2px !important;
    border-bottom: 1px solid #d2d2d2;    
}
#content .c0 {
    background-color: #eeeeee;
    padding: 2px;
}
#content .c1 {
    background-color: #fff;
    padding: 12px;
}
#content .filtros {
    background-color: #f1f1f1;
    border: 1px solid #A4A7AB;
    padding: 0px 4px 0px 4px;
    margin-bottom: 0px;
    height:37px;
}
#content .pagination {
    background-color: #fdfdfd;
    border-top: 1px solid #d2d2d2;
    padding: 4px 4px 0px 4px;
    margin-bottom: 3px;
    margin-top: 10px;
    height:25px;
}


.links_include {
   float:right;
}
.links {
   float:right;
   margin-top: 10px;
}
.links a:hover {
    text-decoration: underline;
    color: #000;
}
.links .include {
   float:right;
   background: url("../imagens/include.png") no-repeat left top;
   margin: 0;
   padding-left: 18px;
   height: 16px;
   padding-right: 10px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #696969;
   font-weight: bold;
   text-decoration: none ;
}
.links .includes {
       float:right;
   background: url("../imagens/include_all.png") no-repeat left top;
   margin: 0;
   padding-left: 18px;
   height: 16px;
   padding-right: 10px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #696969;
   font-weight: bold;
   text-decoration: none ;
}
.filtros form dt {
    width: 60px;
    min-width: 10px !important;
}
.filtros tr:hover {
    background-color: #d2d2d2;
}

#paginationControl {
    font-size: 14px;    
    font-weight: bolder;
    height: 40px;
    color: #696969;
    text-align: right;
}
#paginationControl a{
    color: #696969;
    text-decoration: none;
}
#paginationControl a:hover{
    text-decoration: underline;
    color: #000;
}
#paginationControl .atual {
    font-size: 14px;
    color: #FFD10D;
}
#paginationControl .disabled {
    color: #d2d2d2;
}
.mt3 {
    margin-top: 3px;
}
.action {
    text-align: left;
    width:70px;
}
.toogle {
    text-align: left;
    width:110px;
}
.alterar {
    padding-left:20px;
    background: url("../imagens/edit.png") no-repeat center left;
    color: #696969;    
    font-size: 10px;
    text-decoration:none;
}
.alterar:hover {
    text-decoration:underline;
    color:#000;
}
.excluir {
    padding-left:20px;
    background: url("../imagens/delete.png") no-repeat center left;
    cursor:pointer;
    font-size: 10px;
    color: #696969;    
}
.excluir:hover {
    text-decoration:underline;
    color:#000;
}
.membros {
    padding-left:20px;
    background: url("../imagens/usuario.png") no-repeat center left;
    cursor:pointer;
    font-size: 10px;
    text-decoration: none;
    color: #696969;
}
.membros:hover {
    text-decoration:underline;
    color:#000;
}
.zend_form  dd {
    vertical-align: text-top;
    padding-left: 4px;
}
.zend_form  dt {
    vertical-align: text-top;
    font-size: 12px;
}
.regra0 {
    width: 36px;
    height: 19px;
    margin: 0px 0px 0px 10px;
    display: block;
    background: url("../imagens/ativar.gif") no-repeat left top;
}
.regra1 {
    width: 36px;
    height: 19px;
    margin: 0px 0px 0px 10px;
    display: block;
    background: url("../imagens/desativar.gif") no-repeat left top;
}